@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');



:root {
  --color-main: #f68657;
  --color-text: #383a3f;
  --color-dark: #1f2124;
  --color-gray: #677;
  --color-bg: #f3f6f9;
  --color-light: #acb4bd;
  --color-lighter: #f9f9f9;
  --color-white: #fff;
  --color-border:#e0e3e6;
}

.dark {
  --color-main: #f68657;
  --color-text: #d6d1d1;
  --color-dark: #f5f6f7;
  --color-gray: #999;
  --color-bg: #1f2124;
  --color-lighter: #292a2c;
  --color-white: #2e3235;
  --color-border:#252629;
}

/* BASE STYLES */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend', sans-serif;
  color: inherit;
  font-size: inherit;
  scroll-behavior: smooth;
}


body{
  line-height: 1.8em;
  font-weight: 400;
  font-size: 16px;
}

a {
  text-decoration: none;
}

/* APP STYLES */

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.graph1 { grid-area: graph1; }
.graph2 { grid-area: graph2; }
.graph3 { grid-area: graph3; }
.toggle { grid-area: toggle; }

.grid-container-info-page {
  display: grid;
  height: 1000px;
  grid-template-areas:
    'graph1 graph2'
    'graph3 graph4';
  gap: 20px 0;
  background-color: var(--color-bg);
  padding: 10px;
  align-items: center;
}

.grid-container-house-layout {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main'
    'main main main';
  gap: 20px 0;
  background-color: var(--color-white);
  padding: 30px;
}

.grid-container {
  display: grid;
  height: 1000px;
  grid-template-rows: [row1-start] 100px [row1-end row2-start] 100px [row2-end];
  grid-template-areas:
    'header header header header header'
    'menu main main main main'
    'menu main main main main';
  gap: 10px;
  background-color: var(--color-bg);
  padding: 10px;
}

.grid-container > div {
  background-color: var(--color-white);
  text-align: center;
  padding: 20px 0;
  font-size: 15px;
}

.grid-container > img {
  background-color: var(--color-white);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.container {
  width: 100%;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
  display: flex;
  align-items: center;
}


.app {
  width: 100%;
  max-width: 480px;
  height: 88vh;
  margin: 0 auto;
  background-color: var(--color-white);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.05);
  position: relative;
}

.house-layout-app {
  
  position: relative;
  top: 0px;
  left: 0px;
  right: 100px;
  bottom: 0px;
}


.app-header {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--color-lighter);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 30px;
  color: var(--color-dark);
  font-weight: 800;
  text-align: center;
}

.app-header button {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.app-header button > svg {
  fill: var(--color-dark);
  height: 25px;
  width: 25px;
  object-fit: cover;
}

.app-body {
  padding: 16px;
}


/* NOTES STYLES */

.smart-home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

.smart-home-title,
.smart-home-count {
  color: var(--color-main);
  font-size: 24px;
  font-weight: 600;
}

.smart-home-count {
  font-size: 18px;
  color: var(--color-gray);
}


.smart-home-list {
  padding: 0;
  margin: 16px 0;
  height: 70vh;
  overflow-y: auto;
  scrollbar-width: none; /* Firefox */
}

.smart-home-list::-webkit-scrollbar {
  display: none;
}

.smart-home-list-item {
  border-bottom: 1px solid  var(--color-border);
  margin-bottom: 12px;
  padding: 8px 16px;
  color: var(--color-light);
  transition: all 0.2s ease-in-out;
}

.smart-home-list-item:hover {
  background-color: var(--color-bg);
  cursor: pointer;
}

.smart-home-list-item h3,
.smart-home-item p span {
  font-weight: 600;
}


.smart-home-list-item p span {
  color: var(--color-gray);
  display: inline-block;
  margin-right: 8px;
}

.smart-home-list-item p {
  font-size: 14px;
  color: var(--color-light);
}

.floating-button {
  font-size: 48px;
  position: absolute;
  bottom: 24px;
  right: 16px;
  background: var(--color-main);
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}


.floating-button > svg {
  fill: var(--color-bg);
}



/*==============================
=>  Note Styles
================================*/

.smart-home-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

.smart-home-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.smart-home-header h3 svg {
  fill: var(--color-main);
  width: 20px;
  margin-right: 8px;
}

.smart-home-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}

.smart-home textarea {
  background-color: var(--color-white);
  border: none;
  padding: 16px 12px;
  width: 100%;
  height: 70vh;
  resize: none;
  scrollbar-width: none; /* Firefox */
}

.smart-home textarea:active,
.smart-home textarea:focus {
  outline: none;
  border: none;
}

.smart-home textarea::-webkit-scrollbar {
  display: none;
}

/*==============================
=>  Toggle Styles
================================*/

.toggle-switch {
  position: relative;
  width: 110px;
  display: inline-block;
  text-align: left;
  top: 8px;
}
.checkbox {
  display: none;
}
.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0 solid #bbb;
  margin-left: 10px;
  border-radius: 20px;
}
.inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.inner:before,
.inner:after {
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}
.inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #060;
  color: #fff;
}
.inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #bbb;
  color: #fff;
  text-align: right;
}
.switch {
  display: block;
  width: 25px;
  margin: 5px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 67px;
  border: 0 solid #bbb;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.checkbox:checked + .label .inner {
  margin-left: 0;
}
.checkbox:checked + .label .switch {
  right: 0px;
}

.grid-container-toggle-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;
  grid-template-areas:
    'toggle toggle toggle toggle toggle toggle'
    'toggle toggle toggle toggle toggle toggle'
    'toggle toggle toggle toggle toggle toggle'
    'toggle toggle toggle toggle toggle toggle';
  gap: 20px 0;
  background-color: var(--color-white);
  padding: 10px;
}